<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>	
	<connectionStrings>
		<add name="Dbteste"
			 connectionString="Data Source=MEGAZORD;Initial Catalog=EstoqueTi;Persist Security Info=True;User ID=sa;Password=123;TrustServerCertificate=True"
			 providerName =" System.Data.SqlClient"/>
	</connectionStrings>
</configuration>